/* created by @vertt_t */

:root{
    --bg0: #fbf1c7;
    --bg0_h: #f9f5d7;
    --bg1: #ebdbb2;
    --bg2: #d5c4a1;
    --bg3: #bdae93;
    --bg4: #a89984;
    --bg0_s: #f2e5bc;
    --fg0: #282828;
    --fg1: #3c3836;
    --fg2: #504945;
    --fg3: #665c54;
    --fg4: #7c6f64;
    --light-red: #cc241d;
    --dark-red: #9d0006;
    --light-green: #98971a;
    --dark-green: #79740e;
    --light-yellow: #d79921;
    --dark-yellow: #b57614;
    --light-blue: #458588;
    --dark-blue: #076678;
    --light-purple: #b16286;
    --dark-purple: #8f3f71;
    --light-aqua: #689d6a;
    --dark-aqua: #427b58;
    --light-gray: #928374;
    --dark-gray: #7c6f64;  
    --light-orange: #d65d0e;
    --dark-orange: #af3a03;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: var(--bg4);
}

/* box styling */
.hyperbox{
    min-height: 100vh;
}

.box {
    display: flex;
    float:left;
    margin-top: 5%;
    justify-content: center;
    align-items: top;
    min-height: 60%;
    min-width: 100%;
}

.box-content {
    background: #282828;
    height: 440px;
    width: 400px;
    padding: 20px;
    margin-top: 0px;
    /**margin-top: -4px; **/
}

.box-image img {
    width: 300px;
    height: 480px;
}

/** text styling **/
#sGreetings {
    color: #d65d0e;
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 40px;
    text-align: center;
}

.header-txt {
    margin: 10px;
    color: #98971a;
}

span {
    color: #b8bb26;
}

.link {
    text-decoration: none;
    color:#a89984;
    font-size: 15px;
}
.link:hover {
    color: #d3968b;
}

.searchBox {
    float:left;
	display: flex;
	padding-bottom: 0px;
	margin-top: 15px;
	margin-bottom: 20px;
	align-items: center;
    justify-content: center;
    min-width: 100%;
}

.inputBox {
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom: 2px solid #d79921;
	outline: none;
	background: #fbf1c7;
	padding: 8px 8px 8px 24px;
	color:#4c566a;
	font-size: 20px;
	border-radius: 4px 4px 4px 4px;
	min-width: 400px;
	width: 420px;
	margin-left: 0;
	margin-top: 10px;
	will-change: transform;
	animation: searchAnim 300ms ease-out 400ms backwards;
	transition: color 100ms linear, background 100ms linear, border 200ms linear;
}

/* responsive */

@media only screen and (max-width: 950px) {
  .box-image img {
	width: 220px;
	height: 340px;
  }
  .box-content {
	width: 320px;
	height: 300px;
  }
  #sGreetings {
  margin-top: 10px;
  margin-bottom: 30px;
  }
  .header-txt {
	margin: 4px;
	font-size: 13px;
  }
  .link {
  font-size: 11px;
  }
}
